@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin:0;
    padding:0;
    max-width:100wv;
    min-height: 100hv;
}

header{
    width:100vw;
}
#header{
    display: flex;
    flex-direction:row;
    background-color: rgb(176, 197, 190);
    width:100vw;
    height: 100px;
    border-bottom: 1px solid black;

}

#nav{
    padding: 16px;
}


.container{
    display: flex;
    align-items: baseline;
}

footer{
    position: absolute;
    width: 100%;
    background-color: rgb(176, 197, 190);
    height: 50px;
    margin-bottom: 0;
    text-align: center;
    padding: 24px 0;
    font-family: 'Roboto', sans-serif;
}
footer div{
    margin-top: 90px;
}
img{
    height: 200px;
    width: 350px;
    margin: 20px;
}




.wrap{
    width:100%;
    display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
}

.dish{
    /* display: inline-block; */
    text-align: center;
    /* transition: cubic-bezier(0.075, 0.82, 0.165, 1); */
    transition: width 2s, height 2s, background-color 2s, rotate 2s;


}
.dish:hover{
    transform: skewY(10deg);
}

#main{
    margin-top: 0px;
    padding: 16px;
}
a:hover{
    color: green;
}
a:visited{
    color: purple;
}

a{
    text-decoration: none!important;
}
h3{
    text-decoration:underline;
    color:purple;
}

ul li{
    display: inline;
    margin: 10px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: purple;
}

/* color every other row */
tr:nth-child(even) {
    background-color:rgb(219, 205, 205);

}

h1:hover{
    color:rgb(20, 56, 146);
}

h1, h2, h3{
   margin-left: 20px;;
}
 h2{
    font-style:italic;
    font-size:2rem;
    text-decoration: underline;
    font-variant: common-ligatures;
    text-shadow: 1px 1px 1px white;

}
h2:hover{
    color:rgb(197, 25, 183);
}

@media(max-width: 2145){
    img{
            display: grid;
            grid-template-rows: 20% 20% 20% 20% 20%;
    }
}
